# =========[ logo-ls aliases Setup ]=========

if [ -n "$(command -v logo-ls)" ]; then
    if [ -n "${ZSH_VERSION:-}" ] && whence -w theader_logo_grid >/dev/null 2>&1; then
        alias l='theader_logo_grid'
        alias ls='theader_logo_grid'
        alias l.='theader_logo_grid -d .*'
        alias la='theader_logo_grid -A'
        alias ils='theader_logo_grid'
        alias ila='theader_logo_grid -A'
    else
        alias l='logo-ls'
        alias ls='logo-ls'
        alias l.='logo-ls -d .*'
        alias la='logo-ls -A'
        alias ils='logo-ls'
        alias ila='logo-ls -A'
    fi
    alias ll='logo-ls -al'
    alias ll.='logo-ls -ald .*'
    alias lsg='logo-ls -D'
    alias lag='logo-ls -AD'
    alias llg='logo-ls -alD'
    alias ill='logo-ls -al'
    alias ilsg='logo-ls -D'
    alias ilag='logo-ls -AD'
    alias illg='logo-ls -alD'
else
    alias l='ls --color=auto'
    alias ls='ls --color=auto'
    alias l.='ls --color=auto -d .*'
    alias la='ls --color=auto -a'
    alias ll='ls --color=auto -Fhl'
    alias ll.='ls --color=auto -Fhl -d .*'
fi

# =========[  Replace cat with bat Setup ]=========
if [ -n "$(command -v bat)" ]; then
        alias cat='bat --decorations=never --paging=never'
fi

## Safety.
alias history='history -a'
alias cp='cp -i'
alias ln='ln -i'
alias mv='mv -i'
alias rm='rm -i'


# =========[  Neovim Text Editor ]=========
if [ -n "$(command -v nvim)" ]; then
        alias nv='nvim'
fi
